tr.receipt-details-row td{
    padding-top: 0px;
    /* border-bottom-color: black; */
}

tr.receipt-summary-row td{
    color:black;
}

.receipt-container{
    color:black;
}

.receipt-meta{
    color: black;
}