<style>
    .barcode-container {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40mm;
    }

    .store-name {
        font-weight: bold;
        z-index: 20;
        font-size: 0.75rem;
        margin: 3px 0;
    }

    .product-price {
        font-weight: bold;
        font-size: 0.8rem;
        margin-top: -3px;
        margin-bottom: -5px;
    }

    .barcode {
        display: block;
        margin-top: -10px;
        width: 100%;
    }

    .product-name {
        font-weight: bold;
        margin-top: -4px;
        font-size: 0.7rem;
    }

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg#barcode-svg {
        width: 100%;
    }

    .barcode-code {
        font-size: 0.65rem;
        font-weight: bold;
        margin: 2px 0;
    }

    .divider {
        border: none;
        border-top: 1px solid black;
        margin: 2px 0;
        width: 100%;
    }
</style>
<div class="wrapper">
    <div class="barcode-container">
        <p class="store-name">{{store_name}}</p>
        <div class="barcode" style="width: 100%;"> <svg alt="Barcode" id="barcode-svg" style="width: 100%;"></svg>
        </div>
        <p class="product-name">{{product_name}}</p>
        <hr class="divider" />
        <p class="product-price">{{price}}</p>
    </div>
</div>