<style>
    /* styles.css */
.barcode-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px;
  max-width: 400px;
}

.store-name {
  font-weight: bold;
}

.barcode img {
  display: block;
}

.product-name {
  font-weight: bolder;
}

.barcode-image img{
  width:100%;
  height:130px;
  object-fit: contain;
}

.barcode-content{
  display:flex;
  flex-direction:row;
  align-items:center;
}

.barcode-description{
  border: solid 2px;
  margin-top:-10px;
  padding:0.6em;
  width:100%;
}

</style>

<div class="barcode-container">
    <div class="barcode-content">
        <div class="barcode-image">
      <img src="<%= window.location.origin +"/" +barcode_settings.shop_logo %>">
      </img>    
    </div>
    <div 
      class="barcode" 
      style="margin-top: <%= settings.barcodeMarginTop %>;"
    >
      <svg 
        alt="Barcode" 
        id="barcode"
      > </svg>
    </div>
    </div>
    <div class="barcode-description">
      <% if (barcode_settings.show_barcode_product_name === "on") { %>
      <p 
        class="product-name" 
        style="
          font-size: 1.2rem;
          font-weight:boldl
        "
      >
        <%= product.name %>
      </p>
    <% } %>
    <% if (barcode_settings.show_barcode_product_price === "on") { %>
      <p 
        class="product-price"
        style="
          font-size: 1.4rem; 
          font-weight:bolder;
          margin-top: <%= settings.priceMarginTop %>; 
          margin-bottom: <%= settings.priceMarginBottom %>;
        "
      >
        <b> RS. <%= product.price %> </b>
      </p>
    <% } %>
    </div>
  </div>